language: python
python:
  - 3.7.6
install:
  - pip install -r requirements.txt
before_script:
  - python manage.py migrate
  - python manage.py collectstatic --noinput
script:
  - black --check .
  - coverage run --source=polls manage.py test
after_script:
  - coveralls
